html,body{
  width: 100vw;
  height:100vh;
  color:rgba(0,0,0,0.87);
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color: grey;
}
.is-center{
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.bottom-wrapper{
  width: 100%;
  position: absolute;
  bottom: 0;
}
.landing{
  overflow: hidden;
  height: 80vh;
  width: 100vw;
  background-color: #80d8ff;
  position:relative;
}
.logo{
  height: 20vh;
  z-index: 5;
}
.mountains{
  width:80vw;
}

.cloud {
  /*bottom: 100px;*/
  width:20vw;
  position: absolute;
  -webkit-animation: cloud 25s infinite linear;
  animation: cloud 25s infinite linear;
}
.cloud2{
  transform: rotateY(180deg);
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
}
@-webkit-keyframes cloud {
  0% {
    left: -50px;
  }
  100% {
    left: 100vw;
  }
}

@keyframes cloud {
  0% {
    left: -100px;
  }
  100% {
    left: 100vw;
  }
}
.hoverText{
  transition-duration: 0.2s;
}
.about{
  background-color: #3f51b5/*#fcdfa6*/;
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.about-heading{
  color:white;
  font-size: 9vh;
}
.hoverText:hover{
  transform: translate(5px);
  text-shadow: -7px 7px 1px #000;
}
.about-desc{
  color: white;
  font-size: 3vh;
}
.register{
  background-color: #00bcd4/*#bef2ce*/;
}
.register-box{
  margin: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: #1de9b6/*#1ad2c9*/;
  padding: 2em 2em;
  border-radius: 2vmin 2vmin;
}
.register-heading{
  color:white;
  font-size: 5vh;
  font-weight: 700;
}
.register-desc{
  color: #24684d;
  font-size: 3vh;
}
#register-form{
  font-size: 3vh;
}
.regbtn{
  max-width:15vw;
  background-color:#ffc107;
}
@media (max-width: 1000px){
  .regbtn{
    max-width:50vw;
  }
}
.sponsor{
  color:white;
  background-color: #009688/*#e7d350*/;
  width:100%;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.sponsor-heading{

  font-size: 10vh;
}
.sponsor-desc{
  padding-top:1vh;
  font-size: 3vh;
}
.foot{
  color:white;
}
.foot a{
  text-decoration: none;
  color:inherit;
  font-size: 4vh;
  font-weight: bold;
}
.foot a:hover{
  color:#056495;
}
/*Navbar:Start*/
.navbar{
  position: fixed;
  top:0;
  z-index: 100;
  left: 0;
}
.navbar {
    -webkit-transition: background 0.6s ease-out;
    -moz-transition: background 0.6s ease-out;
    -o-transition: background 0.6s ease-out;
    -ms-transition: background 0.6s ease-out;
    transition: background 0.6s ease-out;
background-color: transparent;
font-size: 3vh;
}

.navbar.scrolled {
    background: rgb(167, 208, 92);
}
.scrolled {
    background: rgb(167, 208, 92);
}
.custom-menu-wrapper {
    white-space: nowrap;
    width: inherit;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.custom-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}

.custom-menu-toggle .bar {
    background-color: white;
    display: block;
    width: 3vw;
    height: 5vh;
    border-radius: 100px;
    position: absolute;
    top: 2vh;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-screen {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 70em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

@media (max-width: 62em) {

    .custom-menu {
        display: block;
    }

    .custom-menu-toggle {
        display: block;
        display: none\9;
    }

    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        background-color: #808080\9;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }

}
/*Navbar:end*/
@media (orientation: landscape) {
  .cloud{
    height:15vh;
  }
  .about{
    text-align: left;
  }
}
@media (max-width: 50em) {
  .landing{
    height: 50vh;
  }
  .about{
    text-align: center;
  }
  .register-box{
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
